@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&family=Nunito:wght@200;300;400;600;700&family=Open+Sans:wght@300;400;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Nunito, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.horizontal-scroll {
  /* width */
  &::-webkit-scrollbar {
    width: 16px;
    height: 12px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
  }
}
